[Desktop Entry]
Name=cava
Exec=alacritty --title cava -e cava
Comment=
Terminal=false
PrefersNonDefaultGPU=false
Icon=sonic-visualiser
Type=Application
