

/** @import "Arc 2.0/arc.css";
@import "imports/configs.css"; */
@import "imports/extensions.css";
@import "imports/findbar.css";
/* @import "imports/contextmenu.css"; */
@import "icons/icons.css";
@import "imports/bookmarks.css"; /** ok */
@import "imports/searchbar.css";
@import "imports/media.css";

#urlbar {text-align: center;}
#userContext-indicator { display: none;}
#navigator-toolbox { -moz-window-dragging: no-drag; }


#zen-workspaces-button {
  .subviewbutton {
      &[active="true"] {
          background: rgba(255, 255, 255, 0.1) !important;
          transition: 0.3s !important;
          border: 1px solid #ffffff0a !important;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.062) !important;
      }
      &:hover {
          background: rgba(255, 255, 255, 0.2) !important;
          transition: 0.3s !important;
      }
      &:after { display: none !important; }
  }
}
#zen-current-workspace-indicator {
    padding: 10px calc(4px + var(--tab-inline-padding)) !important;
    font-weight: 500 !important;
}
