@-moz-document url-prefix("chrome:") {
  /* ------------------------- GENERAL ZEN UI ------------------------- */
  /*Web View border extra rounded*/
  .browserContainer {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 100%
  );
}
  
  /* main ui tint */
  #zen-main-app-wrapper {
    background: var(--nebula-ui-tint) !important;
  } 
  
  /* website tint 
  browser[transparent='true'] {
    background: var(--nebula-website-tint) !important;
  } */
  
  /* Hide identity label for Bonjourr */
  #identity-icon-label[value="Extension (Bonjourr · Minimalist Startpage)"] {
    display: none !important;
  }
  
  :root {
    --attention-dot-color: transparent !important; /* remove attention dot */
    --zen-themed-toolbar-bg-transparent: transparent !important; /* fix for transparency */
  }
  
  /* Config for blur rendering */
  @media (-moz-pref("arc.force-blur-rendering", true)) {
  browser {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  }
  /* --------------------- TABS: NO SHADOW --------------------- */
  
  hbox.browserSidebarContainer,
  #zen-tabbox-wrapper {
    @media (-moz-pref("arc-tabs-no-shadow")) {
      box-shadow: none !important;
    }
  }
  
  /* ---------------------- NOGAPS MOD ------------------------ */
  
  @media (-moz-pref("arc-nogaps-mod")) {
    [zen-single-toolbar="true"] {
      #zen-appcontent-wrapper {
        position: relative;
      }
  
      #zen-appcontent-navbar-wrapper {
        position: absolute;
        width: 100% !important;
        height: 50px; /* Optional: thicker navbar */
        backdrop-filter: blur(30px) saturate(110%) contrast(110%);
        background: var(--zen-main-browser-background) !important;
        border-bottom: 1.7px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
      }
  
      #zen-tabbox-wrapper {
        margin: 0 !important;
      }
  
      .browserSidebarContainer {
        border-radius: 0px !important;
        box-shadow: none !important;
      }
    }
  }
  
  /* ----------------- NOGAPS COMPACT MOD ----------------- */
  
  @media (-moz-bool-pref: "arc-nogaps-compact-mod") {
    :root[zen-compact-mode="true"]:not([customizing]) {
        #zen-appcontent-wrapper:not(:has(#tabbrowser-tabpanels[zen-split-view]), :has(#zen-sidebar-web-panel:not([hidden]):not([pinned]))) {
            margin: 0 !important;
  
            #zen-tabbox-wrapper {
                margin: 0 !important;
            }
  
            @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
              #zen-appcontent-wrapper {
                  position: relative;
              }
  
      #zen-appcontent-navbar-wrapper {
        position: absolute;
        width: 100% !important;
        height: 50px; /* Optional: thicker navbar */
        backdrop-filter: blur(30px) saturate(110%) contrast(110%);
        background: var(--zen-main-browser-background) !important;
        border-bottom: 1.7px solid light-dark(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));
      }
            }
        }
    }
  }
  
  /* ------------------- FLOATING STATUSBAR ------------------- */
  /* Credit to the mod */
  
  #statuspanel {
    margin: 10px !important;
  }
  
  #statuspanel-label {
    border-radius: 11px !important;
    padding: 3px 10px !important;
    border: 1px solid var(--zen-colors-border) !important;
    background: light-dark(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.9)) !important;
  }
}

@media (-moz-pref("arc-transparent-glance")) {
  
  /* Transparent glance styling */
  .zen-glance-background > vbox {
    mask-image: linear-gradient(
      to right,
      black 0%,
      black 4%,
      transparent 7%,
      transparent 93.5%,
      black 96%,
      black 100%
    );
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
  }
  
  .zen-glance-overlay > vbox {
    background-color: light-dark(#fff7, #0007) !important;
    margin-top: 0.5% !important;
    margin-bottom: 0.5% !important;
    height: 98% !important;
    border-radius: 1.5em !important;
  }
}

/*Context Menu*/
menuitem {
    transition: all 0.2s ease-in-out !important;
  }
  
  [hasbeenopened="true"] {
    menuitem,
    menu {
      .menu-text {
        font-size: 0.93em !important;
        padding: 2px 5px !important;
        opacity: 1 !important;
        transition: all 0.2s ease-in-out !important;
      }
  
      &:hover > .menu-text {
        padding-left: 8px !important;
        padding-right: 2px !important;
      }
    }
  
    &:has(menu[open="true"]) {
      & > menuitem,
      menu:not([open="true"]) {
        opacity: 0.3 !important;
      }
    }
  }


/* ------------------- PDF Tab Custom Icon ------------------- */

tab[label$='.pdf'] img.tab-icon-image {
    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='none' viewBox='0 0 16 16' xmlns:bx='https://boxy-svg.com'%3E%3Cdefs%3E%3Cbx:export%3E%3Cbx:file format='svg' path='doc icon.svg'/%3E%3C/bx:export%3E%3C/defs%3E%3Cpath fill='%23181c1f' d='M 18.4 0.164 L 34.4 0.164 L 34.4 16.164 L 18.4 16.164 L 18.4 0.164 Z'/%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M4.75 2.5c-.69 0-1.25.56-1.25 1.25v8.5c0 .69.56 1.25 1.25 1.25h6.5c.69 0 1.25-.56 1.25-1.25V7H9.75A1.75 1.75 0 0 1 8 5.25V2.5zm4.75.81v1.94c0 .138.112.25.25.25h1.94zM2 3.75A2.75 2.75 0 0 1 4.75 1h3.836c.464 0 .909.184 1.237.513l3.664 3.664c.329.328.513.773.513 1.237v5.836A2.75 2.75 0 0 1 11.25 15h-6.5A2.75 2.75 0 0 1 2 12.25z' clip-rule='evenodd'/%3E%3C/svg%3E%0A") !important;
    height: 32px !important;
    scale: 0.5 !important;
    margin-left: -5px !important;
    width: 32px !important;
}



@-moz-document url-prefix("chrome:") {
  /*******************************************************************************
   * MEDIA PLAYER CUSTOMIZATION
   ******************************************************************************/
  @media (-moz-pref("arc.media-controls-toolbar-bottom")){
    #zen-media-controls-toolbar{
      order:1 !important;
    }
    #zen-media-controls-toolbar:hover + #zen-sidebar-foot-buttons {
      transform: translateY(-35px);
      transition: transform 0.2s ease-in-out !important;
    }
  }


  /* Media player expanded layout */
  #zen-media-controls-toolbar {
    & .show-on-hover {
      max-height: unset !important;
      opacity: 1 !important;
      transform: translateY(0) !important;
      padding-right: 6px;
      pointer-events: none;
      transition: max-height 0.2s ease, opacity 0.2s ease, transform 0.2s ease,
        padding 0.2s ease;
    }
  }
  
  /* Media buttons hover effect */
  #zen-media-buttons-hbox > toolbarbutton {
    opacity: 0 !important;
    transition: opacity 0.4s ease-in-out !important;
    &:hover {
      opacity: 1 !important;
    }
  }
}
  
  /* Media controls hover expansion */
  #zen-media-controls-toolbar {
    #zen-media-controls-hbox {
      order: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
    }
  
    &:hover {
      #zen-media-controls-hbox {
        height: fit-content !important;
        opacity: 1 !important;
      }
    }
  }
  
  #zen-media-main-vbox > vbox {
    order: 1 !important;
  }

/* Media controls glow effect */
#zen-media-controls-toolbar::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  background: linear-gradient(
    135deg,
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 25%, white),
    var(--zen-primary-color),
    light-dark(#fffd, #000d),
    light-dark(#fffd, #000d),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 50%, white),
    color-mix(in srgb, var(--zen-primary-color) 25%, white),
    var(--zen-primary-color),
    color-mix(in srgb, var(--zen-primary-color) 25%, black),
    light-dark(#fffd, #000d),
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    light-dark(#fffd, #000d),
    color-mix(in srgb, var(--zen-primary-color) 75%, black),
    color-mix(in srgb, var(--zen-primary-color) 50%, black),
    color-mix(in srgb, var(--zen-primary-color) 25%, black),
    color-mix(in srgb, var(--zen-primary-color) 10%, black),
    light-dark(#fffd, #000d)
  );

  background-size: 200% 200%;
}

/* Playing media styling */
#zen-media-controls-toolbar.playing {
  toolbaritem {
    background-color: light-dark(#fffd, #000d) !important;
  }

  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);

  &::after {
    opacity: 1 !important;
    animation: animateGlow 5s cubic-bezier(0.1, 0.7, 0.5, 0.1) infinite;
  }

  &:hover::after {
    height: 150%;
  }
}

/* Glow animation keyframes */
@keyframes animateGlow {
  0% {
    background-position: 0% 20%;
  }
  100% {
    background-position: 200% 20%;
  }
}

#zen-sidebar-foot-buttons{
  margin-bottom: 5px !important; 
}
