/* ------------------------- QUIETIFY SOUND ICON ------------------------- */

@media not (-moz-pref("arc.tab.default-audio-indicator")) {
  
    .tab-audio-button {
    display: none !important;
    }

    .zen-essentials-container .tab-icon-overlay {
      pointer-events: none !important;
    }
  
    .tabbrowser-tab img {
      transition: opacity 0.3s ease-in-out;
    }
  
    .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked]) img {
      opacity: 0 !important;
      transition: opacity 0.1s !important;
    }
  
    .tab-icon-overlay {
      &:is([soundplaying], [muted], [activemedia-blocked]) {
        display: block !important;
        border: 0px !important;
        border-radius: 0px !important;
        top: 0px !important;
        right: 0px !important;
        scale: 1.3 !important;
        opacity: 0.9 !important;
        margin: 0px 3px !important;
        background: none !important;
        --play-svg: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 135 140' xmlns='http://www.w3.org/2000/svg' fill='context-fill'%3E%3Crect fill='contentFill' y='10' width='15' height='120' rx='6'%3E%3Canimate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect fill='contentFill' x='30' y='10' width='15' height='120' rx='6'%3E%3Canimate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect fill='contentFill' x='60' width='15' height='140' rx='6'%3E%3Canimate attributeName='height' begin='0s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect fill='contentFill' x='90' y='10' width='15' height='120' rx='6'%3E%3Canimate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect fill='contentFill' x='120' y='10' width='15' height='120' rx='6'%3E%3Canimate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite'/%3E%3Canimate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
        --mute-svg: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='context-fill' viewBox='0 0 136 140' xmlns='http://www.w3.org/2000/svg'%3E%3Crect fill='content-fill' x='4' y='70' width='15' height='15' rx='6'/%3E%3Crect fill='content-fill' x='34' y='70' width='15' height='15' rx='6'/%3E%3Crect fill='content-fill' x='64' y='70' width='15' height='15' rx='6'/%3E%3Crect fill='content-fill' x='94' y='70' width='15' height='15' rx='6'/%3E%3Crect x='124' y='70' width='15' height='15' rx='6'/%3E%3C/svg%3E");
        mask-size: 10px 10px !important;
        mask-repeat: no-repeat !important;
        mask-position: center !important;
      }
  
      @media (prefers-color-scheme: light) {
        &:is([soundplaying], [muted], [activemedia-blocked]) {
          filter: invert(1);
        }
      }
  
      &:is([activemedia-blocked]) {
        background: none !important;
        list-style-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='50' height='50' fill='context-fill'%3E%3Cpath d='M0 0 C3.04261908 0.3259949 3.9801219 0.97895261 6.125 3.25 C10.80067538 10.10765723 10.75854626 16.90274712 10 25 C8.66711552 29.34664789 6.52293264 33.06274382 3 36 C2.01 36 1.02 36 0 36 C0.42169501 32.62643988 1.39501858 30.21733512 3.0625 27.3125 C5.50413884 22.5633783 5.85977999 18.25050108 5 13 C4.14055749 10.79165669 3.13574067 8.81508888 1.95703125 6.76171875 C0.76616226 4.56954766 0.30807164 2.46457311 0 0 Z ' fill='contentFill' transform='translate(39,7)'/%3E%3Cpath d='M0 0 C-0.42169501 3.37356012 -1.39501858 5.78266488 -3.0625 8.6875 C-5.50449752 13.43731936 -5.85850686 17.7489386 -5 23 C-4.15206056 25.21300786 -3.18125823 27.17494133 -1.97265625 29.2109375 C-0.93389937 31.12158268 -0.44382988 32.87896037 0 35 C-1.32 35 -2.64 35 -4 35 C-10.01293051 28.81021859 -10.43744298 22.76985381 -10.32421875 14.4609375 C-9.75779176 8.41449998 -7.0335703 0 0 0 Z ' fill='contentFill' transform='translate(11,7)'/%3E%3Cpath d='M0 0 C2.125 0.375 2.125 0.375 4 1 C3.566875 1.8353125 3.566875 1.8353125 3.125 2.6875 C2.75375 3.450625 2.3825 4.21375 2 5 C1.608125 5.721875 1.21625 6.44375 0.8125 7.1875 C-0.36227113 11.25401546 0.02392228 14.90354783 1 19 C2.51553153 21.30166675 2.51553153 21.30166675 4 23 C3.67 23.99 3.34 24.98 3 26 C0.25362183 25.62118922 -0.80049058 25.22167713 -2.6875 23.125 C-5.63236254 18.35712732 -5.49017296 13.43415881 -5 8 C-3.66362375 4.598315 -2.56521154 2.56521154 0 0 Z ' fill='contentFill' transform='translate(12,12)'/%3E%3Cpath d='M0 0 C2.77995714 0.27799571 3.79782921 0.77536579 5.6875 2.875 C8.63236254 7.64287268 8.49017296 12.56584119 8 18 C6.66362375 21.401685 5.56521154 23.43478846 3 26 C0.875 25.625 0.875 25.625 -1 25 C-0.71125 24.443125 -0.4225 23.88625 -0.125 23.3125 C0.24625 22.549375 0.6175 21.78625 1 21 C1.5878125 19.9171875 1.5878125 19.9171875 2.1875 18.8125 C3.74737899 13.41291887 2.65919932 8.50297445 0.4375 3.4375 C-0.2740625 2.2309375 -0.2740625 2.2309375 -1 1 C-0.67 0.67 -0.34 0.34 0 0 Z ' fill='contentFill' transform='translate(35,12)'/%3E%3Cpath d='M0 0 C2.9375 0.8125 2.9375 0.8125 4.9375 3.8125 C4.75 6.875 4.75 6.875 3.9375 9.8125 C0.9375 11.8125 0.9375 11.8125 -2.125 11.625 C-5.0625 10.8125 -5.0625 10.8125 -7.0625 7.8125 C-6.875 4.75 -6.875 4.75 -6.0625 1.8125 C-3.0625 -0.1875 -3.0625 -0.1875 0 0 Z ' fill='contentFill' transform='translate(26.0625,19.1875)'/%3E%3Cpath d='M0 0 C1.32 0 2.64 0 4 0 C6.96681758 4.62823543 7.19975858 7.69786373 6.51953125 12.94921875 C6 15 6 15 4 18 C2.68 18 1.36 18 0 18 C0.144375 17.29875 0.28875 16.5975 0.4375 15.875 C0.623125 14.92625 0.80875 13.9775 1 13 C1.226875 11.96875 1.45375 10.9375 1.6875 9.875 C2.33229486 6.80363259 2.33229486 6.80363259 0 4 C0 2.68 0 1.36 0 0 Z ' fill='contentFill' transform='translate(30,16)'/%3E%3Cpath d='M0 0 C1.32 0.33 2.64 0.66 4 1 C3.855625 1.53625 3.71125 2.0725 3.5625 2.625 C2.89773488 5.43178607 2.30555651 8.12776882 2 11 C2.99 12.485 2.99 12.485 4 14 C4 15.32 4 16.64 4 18 C2.68 18 1.36 18 0 18 C-2.96681758 13.37176457 -3.19975858 10.30213627 -2.51953125 5.05078125 C-2 3 -2 3 0 0 Z ' fill='contentFill' transform='translate(16,16)'/%3E%3C/svg%3E%0A") !important;
        fill:var(--toolbarbutton-icon-fill) !important;
        width: 16px !important;
        height: 16px !important;
        margin: 0px 3px !important;
      }
  
      &:is([soundplaying]) {
        list-style-image: var(--play-svg) !important;
        fill: var(--toolbarbutton-icon-fill) !important;
      }
      
      &:is([muted]) {
        list-style-image: var(--mute-svg) !important;
        fill: var(--toolbarbutton-icon-fill) !important;
      }
    }
  

      .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked])
        img {
        opacity: 1 !important;
        transition: opacity 0.1s ease-out !important;
      }
  
      .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked])
        .tab-icon-overlay {
        margin: 0px !important;
        transition: opacity 0.25s ease-out, transform 0.25s ease-out !important;
        transform: translate(6.9px, -6.9px) scale(0.69) !important;
      }

      .tabbrowser-tab:is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-overlay {
        transition: opacity 0.25s ease-in, transform 0.25s ease-in !important;
      }
    
  
    #zen-essentials-container {
      .tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]) {
        margin: 0px !important;
      }
    }
  }
  
  /* Better rounded workspace indicator */
    @media (-moz-pref("zen.theme.pill-button")) {
    #PanelUI-zen-workspaces-list toolbarbutton {
      &.zen-workspace-button[active="true"] .zen-workspace-icon::before {
        background-color: transparent !important;
      }
  
      &.zen-workspace-icon {
        border: 3px solid var(--zen-colors-border) !important;
      }
  
      &.zen-workspace-button[active="true"] .zen-workspace-icon {
        border: 3px solid var(--toolbarbutton-icon-fill-attention) !important;
      }
    }
  }
