toolbaritem:has(#zen-media-main-vbox){
  & #zen-media-focus-button::after { display: none !important;}
}

#zen-media-controls-toolbar {
  margin-bottom: 5px;
  & > toolbaritem {
    background-color: rgba(255,255,255,0.12) !important;
    backdrop-filter: none !important;

  }
}

#zen-media-controls-box.toolbarbutton-1[disabled] {
  image {opacity: 0.7}
}