#zen-main-app-wrapper[zen-compact-mode="true"] {
    #navigator-toolbox {
      &[zen-sidebar-expanded="true"] {
        
        &:not([animate='true']) #titlebar {
          @media (-moz-bool-pref: 'zen.view.compact.color-sidebar') {
            box-shadow: none !important;
            background: var(--zenarc-translucent-background) !important;
            backdrop-filter: blur(var(--zenarc-translucent-blur-radius)) !important;
            &:has(#urlbar[breakout-extend="true"]){
              backdrop-filter: none !important;
            }
          }
        }
      }
    }
  }
  
  #zen-main-app-wrapper[zen-compact-mode="false"] {
  #navigator-toolbox {
      &[zen-sidebar-expanded="true"] {
        padding-inline: 4px !important;
        
        &:not([animate='true']) #titlebar {
          @media (-moz-bool-pref: 'zen.view.compact.color-sidebar') {
            box-shadow: none !important;
          }
        }
      }
    }
  }
  
  #browser {
    backdrop-filter: blur(var(--zenarc-translucent-blur-radius)) !important;
    background: var(--zenarc-translucent-background) !important;
    
    
  }
  #zen-main-app-wrapper[zen-compact-mode="true"]:has(#navigator-toolbox[zen-sidebar-expanded="true"][zen-has-hover="true"]) .browserContainer {
        pointer-events: none;
        filter: brightness(90%) saturate(50%) opacity(70%) blur(2px) !important; /* Zoom effect, remove the // to enable */ 
        transition: all 0.1s ease-in;
  }
  
  
  
  
  
  /* Rounded Corners */
  #navigator-toolbox {
    .tabbrowser-tab:is([image], [pinned])
  > .tab-stack
  > .tab-content[attention]:not([selected]),
    .tabbrowser-tab
  > .tab-stack
  > .tab-content[pinned][titlechanged]:not([selected]) {
      background-image: none !important;
    }
    .tabbrowser-tab
  > .tab-stack
  > .tab-content[titlechanged]:not([selected="true"]) {
      background-image: none !important;
    }
    --border-radius-medium: 11px !important;
    --tab-border-radius: 6px !important;
  }
  
  /* Other Tweaks */
  #vertical-pinned-tabs-container-separator {
    width: 96% !important;
    margin: 12px auto 10px !important;
    background: white !important;
    opacity: 0.1 !important;
  }
  #tabbrowser-tabs
  .tabbrowser-tab
  .tab-close-button {
    display: none !important;
  }
  
  
  /* Essentials Color Tweaks */
  
  #zen-essentials-container .tabbrowser-tab {
  
  
    @media (-moz-bool-pref: "zen.theme.essentials-favicon-bg") {
      &[visuallyselected] .tab-background {
        &::after {
          left: -50% !important;
          top: -50% !important;
          width: 200% !important;
          height: 200% !important;
          filter: blur (20px) !important;
        }
  
        &::before {
          mask-image: none !important;
          background-color: light-dark(
            color-mix(in srgb, #ffffff 65%, transparent),
            color-mix(in srgb, #000000 55%, transparent)
          ) !important;
        }
      }
  
      &[visuallyselected]:hover .tab-background::before {
        background-color: light-dark(
          color-mix(in srgb, #ffffff 55%, transparent),
          color-mix(in srgb, #000000 65%, transparent)
        ) !important;
      }
    }
  }
  
  
  
  
  .ctrlTab-preview:focus > .ctrlTab-preview-inner,
  #ctrlTab-showAll:focus {
    background-color: var(--zenarc-colors-secondary) !important;
    text-shadow: none;
    border-color: var(--zenarc-colors-tertiary) !important;;
    border-radius: 10px !important;
    
  }
  #ctrlTab-panel {
    --panel-border-radius: 24px !important;
    --panel-background: var(--zenarc-translucent-background) !important;
  }
  .ctrlTab-preview:hover {
    border: none !important;
  }
  
  .ctrlTab-preview-inner {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  
    .ctrlTab-canvas {
      box-shadow: none !important;
      border-radius: 8px !important;
      overflow: hidden !important;
    }
  
    .ctrlTab-favicon-container {
      width: fit-content !important;
      height: fit-content !important;
    }
  
    .ctrlTab-favicon {
      background: transparent !important;
      box-shadow: none !important;
      margin: 0 !important;
      padding: 0 !important;
      width: 20px !important;
      height: 20px !important;
    }
  
    .ctrlTab-label {
      flex: 1 !important;
      flex-shrink: 0 !important;
      justify-content: left !important;
  
      &::before {
        text-shadow: none !important;
        font-size: 14px !important;
        margin: auto 0 !important;
      }
    }
  }

  
  #customization-panelWrapper {
    --panel-arrow-offset: 0px !important;
  }
  .ctrlTab-favicon[src] {
    border-radius: 100px !important;
  }


  
#zen-workspaces-button {
    background-color: rgba(255, 255, 255, 0.04) !important;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1) !important;
    border-radius: 8px !important;
    border: 1px solid #ffffff0c !important;
}

